body {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fee1cf), to(#f5b1fa)) fixed;
    font-family: monospace;
    font-size: 20px;
    margin: 0 !important;
    color: white;
}

.all {
    width: 100%;

}

.index {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #fee1cf
}

.wstawka {
    width: 100%;
    padding: 1px 0;
}

.logo {
    width: auto;
    font-size: 80px;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}

.naw {
    width: 210%;
    padding: 3px 0;
    height: 30px;
    background: #202132;
    border-top: 3px solid #11facd;
    border-bottom: 3px solid #11facd;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    height: 30px;
    line-height: 100%;
    width: 150%;
    display: inline-block;
}

ol a {
    text-decoration: none;
    display: block;
    color: white;
    width: 100%;
}

ol>li {
    float: left;
    width: 16.309%;
    height: 100%;
    border-right: 3px solid #11facd;
}

ol>li:hover {
    background-color: #1e1579;
}

ol>li:first-child {
    border-left: 3px solid #11facd;
}

.text {
    text-decoration: solid;
    margin: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
    text-align: left;
}

.scroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 85%;
}

.punkt {
position: relative;
cursor: pointer;
}

.visible {
position: absolute;
size: 30px;
top: -20;
transform: translateX(-50%);
background-color: #202132;
color: #11facd;
text-align: center;
white-space: nowrap;
padding: 4px 4px;
border-radius: 7px;
visibility: hidden;
opacity: 0,01;
transition: opacity 0.5s ease;
}

.punkt:hover .visible {
    top: -100%;
    visibility: visible;
    opacity: 1;
}


.zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
  }

  div#zoom > img {
    width: 100%;
    height: auto;
  }

  .produkt {
    padding-top: 5px;
    display: flex;
    text-align: center;
  }

  .ramka {
    border-top: 1px solid #11facd;
    border-left: 1px solid #11facd;
    border-right: 1px solid #11facd;
    border-bottom: 1px solid #11facd;
    border-radius: 2px;
  }

  .cena {
    padding-top: 5px;
    padding-left: 5px;
    size: 30px;
    color: #d10202;
  }

  .cena2 {
    padding-top: 5px;
    padding-left: 5px;
    size: 50px;
    color: #ff0000;
  }

  .text2 {
    padding-top: 5px;
    padding-left: 5px;
    size: 60px;
    color: #11facd;
  }