body {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fee1cf), to(#f5b1fa)) fixed;
    font-family: monospace;
    font-size: 20px;
    margin: 0 !important;
    color: 2e2b3c;
}

.all {
    width: 100%;

}

.index {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.wstawka {
    width: 100%;
    padding: 1px 0;
}

.logo {
    width: auto;
    font-size: 80px;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}

.naw {
    width: 210%;
    padding: 3px 0;
    height: 30px;
    background: #2e2b3c;
    border-top: 3px solid #f5b1fa;
    border-bottom: 3px solid #f5b1fa;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    height: 30px;
    line-height: 100%;
    width: 150%;
    display: inline-block;
}

ol a {
    text-decoration: none;
    display: block;
    color: white;
    width: 100%;
    margin-top: 5px;
}

ol>li {
    float: left;
    width: 16.309%;
    height: 100%;
    border-right: 3px solid #f5b1fa;
}

ol>li:hover {
    background-color: #795b7c;
}

ol>li:first-child {
    border-left: 3px solid #f5b1fa;
}

.text {
    text-decoration: solid;
    margin: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    text-align: left;
}

  .button {
    text-align: center;
    position: static;
    width: 100%;
    color: #fee1cf;
    background-color: #795b7c;
    font-size: 40px;
    border-color: #f5b1fa;
  }

  .nav2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
  }

  .text2 {
    width: 32%;
    padding-top: 5px;
    padding: 3px 0;
    height: 30px;
    background: #2e2b3c;
    border-top: 3px solid #f5b1fa;
    border-right: 3px solid #f5b1fa;
    border-left: 3px solid #f5b1fa;
    border-bottom: 3px solid #f5b1fa;
    color: aliceblue;
    text-align: center;
  }

  .dane {
    border-right: 3px solid #f5b1fa;
    border-left: 3px solid #f5b1fa;
    margin-top: 15px;
    width: 98%;
    height: 2300%;
  }